<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HI Dashboard</title>
  </head>
  <body>
    Hi Dashboard! You are logged.
  </body>